@import '../variables.css';

.root {
  position: relative;
}

.label {
  position: absolute;
  top: 0.2rem;
  left: 0.5rem;
  font-size: 0.6rem;
  color: #858a8b;
  padding: 1px 5px;
  border-radius: 1rem;
  z-index: 100;
}

.area {
  display: block;
  min-height: 20px;
  overflow: hidden;
  text-align: right;
  color: #000000;
  background: #eeeeee;
  border: 1px solid #858a8b;
  border-radius: 4px;
  padding: 10px 12px;
  cursor: pointer;
  transition: 0.1s opacity;
}

.area:hover {
  opacity: 0.8;
}

.area.area-file-exists {
  opacity: 0.3;
}

.input {
  display: none;
}

.image {
  max-height: 80px;
  max-width: 100px;
  border-radius: 4px;;
}

.text {
  text-align: center;
  margin: 8px 0;
}
