@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.feedItem {
  margin: 0 0 2rem;
}

.feedTitle {
  font-size: 1.5rem;
}

.feedDesc h1,
.feedDesc h2,
.feedDesc h3,
.feedDesc h4,
.feedDesc h5,
.feedDesc h6 {
  font-size: 1.125rem;
}

.feedDesc pre {
  white-space: pre-wrap;
  font-size: 0.875rem;
}

.feedDesc img {
  max-width: 100%;
}
