@import '../variables.css';

.label {
  display: block;
  min-height: 20px;
  overflow: hidden;
  color: #000000;
  background: #eeeeee;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  padding: 10px 12px;
  cursor: pointer;
}

.label:hover {
  opacity: 0.8;
}

.label.label-file-exists {
  opacity: 0.3;
}


.input {
  display: none;
}

.image {
  max-height: 200px;
  max-width: 200px;
  border-radius: 4px;;
}

.text {
  text-align: center;
  margin: 30px 0;
}
