@import '../../components/variables.css';

.root {
  top: 0;
  right: 0;
  height: 100%;
  padding: 70px 2% 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media (min-width: 600px) {
  .root {
    position: fixed;
    width: 33vw;
  }
}
@media (min-width: 960px) {
  .root {
    position: fixed;
    width: 50vw;
  }
}
.surface {
  font-family: Optima, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  color: #30344b;
  letter-spacing: 0.05rem;
  background-color:  linear-gradient(-30deg, #f9faff 0%,#f6f7fa 100%);
  background: -webkit-linear-gradient(-30deg,  #f9faff 0%,#f6f7fa 100%);
  box-shadow: 4px 4px 14px rgba(20, 34, 32, 0.3);
  border-radius: 4px;
  padding: 4%;
}

.box {
  position: relative;
  background: #f4f5f9;
  box-shadow: 4px 4px 4px #e1e2e7, -4px -4px 4px #ffffff;
  padding: 12px 20px;
  border-radius: 4px;
  margin-bottom: 40px;
}
.box::before {
  content: 'Details';
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 0.6rem;
  color: #a7a1c7;
}
.description {
  white-space: pre-wrap;
}
.block {
  margin-bottom: 3rem;
}
.image {
  width: 100%;
}
.isPortrait {
  position: relative;
  padding-top: 100%;
}
.isPortrait > figure {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 0;
}
.blockBody {
  text-align: center;
  color: #777167;
}