@import '../../components/variables.css';

.media {
  height: 80px;
}

.title {
  font-size: 0.9rem;
  margin-top: 0;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
